$red: #cc0000;
$text: #666;
$black: #000;
$grey-light: #f3f3f3;
$grey-dark: #27272C;
$white: #ffffff;
$green: #00e38d;

.cf {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin bp($point) {
  @if $point == papa-bear {
    @media (min-width: 75em) { @content; }
  }
  @else if $point == mama-bear {
    @media (min-width: 62em) { @content; }
  }
  @else if $point == reverse-mama-bear {
    @media (max-width: 61.999em) { @content; }
  }
  @else if $point == baby-bear {
    @media (min-width: 40em)  { @content; }
  }
  @else if $point == only-baby-bear {
    @media (min-width: 40em) and (max-width: 61.999em)  { @content; }
  }
}