.blog {
  article {
    border-bottom: 0.1em solid $red;
    margin-bottom: 3em;
    padding-bottom: 2em;
    &:last-of-type {
      border: none;
    }
    h1 {
      margin-bottom: 0;
    }
    h5 {
      margin-top: 0;
      color: red;
    }
  }
}