.events-wrapper {
  h3 {
    margin: 0.4em 0 1em 0;
  }
  ul {
    @extend .cf;
    list-style-type: none;
    margin: 0;
    padding-left: 3em;
    position: relative;
    @include bp(mama-bear) {
      padding: 0;
    }
    &:before {
      content:"";
      position: absolute;
      display: block;
      width: 0.5em;
      height: 100%;
      background-color: $red;
      top: 0;
      left: 1em;
      @include bp(mama-bear) {
        left: 50%;
        margin-left: -0.25em;
      }
    }
    @include bp(only-baby-bear) {
        max-width: 40em;
        margin: 0 auto;
      }
    li {
      margin-bottom: 1em;
      padding: 1em;
      background-color: $grey-light;
      // border: 0.1em solid $grey; only needed if its to dark
      position: relative;
      @include bp(mama-bear) {
        width: 45%;
        float: left;
        margin-right: 10%;
        &:before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          position: absolute;
          top: 1.5em;
          right: -20px;
          border-top: 10px solid transparent;
          border-left: 20px solid $grey-light;
          border-bottom: 10px solid transparent;
        }
        &:nth-of-type(2n) {
          float: right;
          margin-right: 0;
          margin-left: 10%;
          &:before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top: 1.5em;
            left: -20px;
            border-top: 10px solid transparent;
            border-right: 20px solid $grey-light;
            border-left: none;
            border-bottom: 10px solid transparent;
          }
        }
      }
      @include bp(reverse-mama-bear) {
        &:before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          position: absolute;
          top: 1.5em;
          left: -20px;
          border-top: 10px solid transparent;
          border-right: 20px solid $grey-light;
          border-bottom: 10px solid transparent;
        }
      }
    }
  }
  img {
    width: 100%;
    max-width: 25em;
    height: auto;
  }
}