.flexslider-standard {
  text-align: left;
  background-color: $grey-light;
  @include bp(mama-bear) {
    background-color: transparent;
    //margin-bottom: 3em;
  }
  position: relative;
  img {
    width: 100%;
  }
  .slides li {
    position: relative;
    &.limiter {
      max-height: 40em;
    }
  }
  .infotext {
    padding: 0.5em;
    h1 {
      margin: 0;
    }
    h2 {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
  .inpicture-infotext {
    padding: 0.5em;
    h1 {
      margin: 0;
    }
    h2 {
      margin: 0;
    }
    @include bp(mama-bear) {
      z-index: 99;
      position: absolute;
      max-width: 40em;
      bottom: 2em;
      right: 2em;
      padding: 0.5em 1em;
      background-color: rgba($grey-light, 0.85);
    }
  }
  .flex-prev, .flex-next {
    position: absolute;
    top: 43%;
    background-color: rgba($red, 0.5);
    width: 3em;
    height: 3em;
    text-indent: -9999px;
    &:after {
      content: "";
      position: absolute;
      top: 0.5em;
      width: 0px;
      height: 0px;
      border-style: solid;
      //border-width: 1em 0 1em 1.5em;

    }
    &:hover {
      background-color: $red;
    }
  }
  .flex-prev {
    left: 0;
    &:after {
      right: 0.8em;
      border-width: 1em 1.5em 1em 0;
      border-color: transparent rgba($white, 0.7) transparent transparent;
    }
    &:hover:after {
      border-color: transparent $white transparent transparent;
    }
  }
  .flex-next {
    right: 0;
    &:after {
      left: 0.8em;
      border-width: 1em 0 1em 1.5em;
      border-color: transparent transparent transparent rgba($white, 0.7);
    }
    &:hover:after {
      border-color: transparent transparent transparent $white;
    }
  }
  .flex-control-nav {
    text-align: center;
    li {
      display: inline-block;
      margin: 0.5em 0.2em;
      a {
        display: block;
        text-indent: -9999px;
        width: 1em;
        height: 1em;
        padding: 0.5em;
        background-color: darken($grey-light, 30);
        border-radius: 50%;
        cursor: pointer;
        &.flex-active {
          background-color: $grey-dark;
        }
      }
    }
  }
  .flex-control-nav, .flex-direction-nav {
    display: none;
    @include bp(baby-bear) {
      display: block;
    }
  }

}