.main-footer {
  margin-top: 3em;
  background-color: $grey-dark;
  padding: 0.5em;
  h3 {
    @extend .light-con;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      color: $white;
      padding: 0.3em;
      a {
        color: inherit;
      }
    }
  }
  a {
    padding: 0.3em;
    color: $white;
    &:hover, &:focus {
      color: $red;
    }
  }
}

.languagefooter {
  @include bp(baby-bear) {
    display: none;
  }
}
