.gallery {
  .flexslider {
    max-width: 50em;
    max-height: 34em;
    margin: 0 auto;
    background-color: $grey-light;
    li {
      text-align: center;
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
      }
    }
  }

  .stopper-50 {
    max-width: 50em;
    margin: 1em auto 0 auto;
  }

  figure {
    margin: 0;
    padding: 0.5em;
  }
}