.home {
  .center {
    border-bottom: 0.1em solid $grey-light;
    &:last-of-type {
      border: none;
    }
    @include bp(mama-bear) {
      border: none;
    }
  }
  .latest-blog {
    h2 {
      margin: 0;
    }
    h5 {
      color: $red;
      margin: 0;
    }
  }
  .main-footer {
    margin-top: 0;
  }
  .center {
    padding: 3em 0 3em 0;
  }
}

.wwd {
  @include bp(mama-bear) {
    background-image: url(../../images/wwd.jpg);
    background-size: cover;
  }
  h3 {
    margin: 0.5em 0 0 0;
  }
  p {
    margin-top: 0.3em;
  }
  article {
    margin-bottom: 2em;
    padding: 0 0.3em;
  }
  img {
    border-radius: 50%;
    width: 70%;
    margin: 0 auto;
  }
}

.findus {
  //background-color: $grey-light;
  padding-bottom: 3em;
}