.button, .wpcf7-submit {
  @extend .light;
  text-transform: uppercase;
  display: inline-block;
  background-color: $red;
  color: $white;
  border-radius: 0.2em;
  padding: 0.3em 0.5em;
  margin: 1em 0;
  border: 0.2em solid $red;
  transition: all 0.1s ease;
  &:hover, &:focus {
    background-color: $white;
    color: $red;
  }
}

img {
  max-width: 100%;
  &.alignleft {
    float: left;
    padding: 1em 1em 1em 0;
  }
  &.alignright {
    float: right;
    padding: 1em 0 1em 1em;
  }
  &.center {
    margin: 0 auto;
  }
}

.spacing {
  padding: 0 0.5em;
  @include bp(mama-bear) {
    //margin: 3em 0;
  }
}

.spacing-top {
  @include bp(mama-bear) {
    margin-top: 3em;
  }
  &.mobile {
    margin-top: 3em;
  }
}


.stopper {
  max-width: 75em;
  margin: 0 auto;
  &.small {
    max-width: 45em;
  }
  &.spacing-top {
    @include bp(mama-bear) {
      margin-top: 3em;
    }
    &.mobile {
      margin-top: 3em;
    }
  }
}

section {
  @extend .cf;
}
