.main-header {
  //padding: 0.5em;
  @include bp(mama-bear) {
    background-color: $white;
    width: 100%;
    box-shadow: 0 -1px 4px rgba(0,0,0,0.5);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    .home & {
      box-shadow: none;
      position: relative;
      &.smallheader {
        animation-name: fadeInTopMenuHome;
      }
    }
    &.smallheader {
      position: fixed;
      animation-delay: 0s;
      //animation-name: fadeInTopMenu;
      animation-duration: 1s;
      box-shadow: 0 -1px 4px rgba(0,0,0,0.5);
    }
  }
}

.spacer {
  display: none;
  @include bp(mama-bear) {
    display: block;
  }
  width: 100%;
  height: 9em;
  .home & {
    display: none;
  }
}

@keyframes fadeInTopMenuHome {
    0% {
        transform: translateY(-4em);
    }

    100% {
        transform: translateY(0);
    }
}


.logo {
  padding: 0.5em;
  width: 70%;
  max-width: 27em;
  .smallheader & {
    max-width: 17em;
  }
  float: left;
}

.mobile-menu-button {
  @extend .button;
  position: absolute;
  top: 0.35em;
  right: 0.5em;
  @include bp(baby-bear) {
    display: none;
  }
}

.main-menu {
  @extend .cf;
  overflow: hidden;
  height: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: max-height 1s ease;
  width: 100%;
  float: left;
  &.active {
    height: auto;
    max-height: 50em;
  }
  li {
    &:last-of-type {
      margin-bottom: 1em;
    }
    a {
      background-color: $grey-light;
      display: block;
      margin-top: 0.2em;
      padding: 0.5em;
    }
  }
  @include bp(baby-bear) {
    overflow: auto;
    height: auto;
    margin-bottom: 1em;
    width: 100%;
    li {
      float: left;
      width: 16.666%;
      &:last-of-type {
        margin-bottom: 0;
        a {
          border: none;
        }
      }
      a {
        border-right: 0.1em solid darken($grey-light, 30);
      }
    }
  }
  @include bp(mama-bear) {
    float: right;
    max-width: 34em;
    li a {
      background-color: transparent;
      border: none;
      margin-top: 4em;
      .smallheader & {
        margin-top: 2.2em;
      }
    }
  }
}

.language {
  position: absolute;
  z-index: 999;
  top: 1em;
  right: 1em;
  font-size: 0.8em;
  display: none;
  @include bp(baby-bear) {
    display: block;
  }
}