.product-single {
  ul {
    list-style-type: none;
    padding: 0;
  }
}

.flexslider-product {
  position: relative;
  &.carousel {
    margin-top: 2em;
    li {
      padding: 0.5em;
      max-width: 10em;
    }
    .flex-prev, .flex-next {
      top: 30%;
    }
  }
  .flex-prev, .flex-next {
    position: absolute;
    top: 43%;
    background-color: rgba($red, 0.5);
    &:hover {
      background-color: $red;
    }
    width: 3em;
    height: 3em;
    text-indent: -9999px;
    &:after {
      content: "";
      position: absolute;
      top: 0.5em;
      width: 0px;
      height: 0px;
      border-style: solid;
      //border-width: 1em 0 1em 1.5em;

    }
  }
  .flex-prev {
    left: 0;
    &:after {
      right: 0.8em;
      border-width: 1em 1.5em 1em 0;
      border-color: transparent rgba($white, 0.7) transparent transparent;
    }
    &:hover:after {
      border-color: transparent $white transparent transparent;
    }
  }
  .flex-next {
    right: 0;
    &:after {
      left: 0.8em;
      border-width: 1em 0 1em 1.5em;
      border-color: transparent transparent transparent rgba($white, 0.7);
    }
    &:hover:after {
      border-color: transparent transparent transparent $white;
    }
  }
}