.products {
  aside {
    background-color: $grey-light;
    padding: 1em;
    h3 {
      margin: 0;
    }
    ul {
      li {
        @extend .h3;
      }
      ul {
        li {
          font-size: 1rem;
        }
      }
    }
    ul {
      list-style-type: none;
      padding: 0 0 0 0.3em;
      margin: 0 0 2em 0;
    }
  }
  .product {
    $padding: 0.5em;
    margin: 0 0 2em 0;
    img {
      width: 100%;
    }
    position: relative;
    padding-right: $padding;
    .new {
      position: absolute;
      padding: 0.2em 0.4em;
      right: $padding;
      top: 0.5em;
      background-color: $red;
      color: $white;
    }
    .offer {
      position: absolute;
      padding: 0.2em 0.4em;
      right: $padding;
      top: 2.5em;
      background-color: $green;
      color: $white;
    }
    .info {
      color: $red;
      margin: 0;
      font-size: 1.1em;
      padding:0.1em 0.5em;
      span {
        display: inline-block;
        float: right;
      }
    }
  }
  .js & {
    @include bp(only-baby-bear) {
      .col-20 {
        width: 30%;
      }
      .col-80 {
        width: 70%;
      }
    }
  }
}