* {
  font-size: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: $text;
}

h1 {
  color: $black;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  .border {
    display: block;
    width: 25%;
    height: 0.1em;
    background-color: $red;
    margin: 0.5em auto;
  }
}

h2 {
  @extend .light;
  font-size: 1.6em;

}

h3, .h3 {
  @extend .light;
  font-size: 1.3em;
}

time {
  @extend .light;
}

a {
  text-decoration: none;
  color: $black;
  &:hover, &:focus {
    color: $red;
  }
}

.light {
  font-weight: 300;
}

.light-con {
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.center {
  text-align: center;
}

